.header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.refresh {
    width: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    cursor: pointer;
}

.input {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
}

.wordCount {
    color: #FB9039;
}

.hiddenInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    max-width: 20px;
}