.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}